{% if collection %}
<div class="product-collnav d-flex justify-content-between align-items-center">
  <a class="previous" href="{{ collection.previous_product }}"><img src='{{ "arrow-left@3x.png" | asset_url }}' alt='previous' > Previous Product</a>
  <a class="next" href="{{ collection.next_product }}"><img src='{{ "arrow-right@3x.png" | asset_url }}' alt='next' > Next Product</a>
</div>
{% endif %}
