{% if product.tags contains "single box" %}
{% assign custom_collection = collections.singles.products %}
{% else %}
{% assign custom_collectionm = collection %}
{% endif %}
  {% if custom_collection %}
  {% if custom_collection.previous_product %}
    {{ 'Previous Product' | link_to: custom_collection.previous_product }} |
  {% endif %}
  {% if custom_collection.next_product %}
    {{ 'Next Product' | link_to: custom_collection.next_product }}
  {% endif %}
{% endif %}
  <p>{{ custom_collection.products_count }}</p>
 <p>{{ custom_collection.handle }}</p>