{% if collection %}
<div class="next-product-nav d-flex justify-content-between align-items-center">
  <a class="previous" href="{{ collection.previous_product }}">{% include 'icon-chevron-left' %} Previous Product</span>
  <a class="previous" href="{{ collection.next_product }}">{% include 'icon-chevron-right' %} Next Product</span>
</div>
{% endif %}
