{% for tag in product.tags %}
{% if tag contains "sample" %}
{% assign product_tag = tag %}
{% endif %}
{% endfor %}
{% for product in collections.samples.products %}
    {% for tag in product.tags %}
    {% if tag == product_tag and product.available %}
    {% assign has_sample = true %}
    {% assign sample = product %}
    {% endif %}
    {% endfor %}
{% endfor %}
{% if has_sample %}
<p class="sample-box">
<a href="{{sample.url}}">Try a Sample for only {{ sample.price }}!</a>
</p>
{% endif %}
<script type="text/javascript">
console.log({{ sample }});
</script>