<div class="text-center" style="background-color: {{ section.settings.bg_color }}; padding: 2em 0;">
<div class="contained">
     <h1 class="h1 text-black">
      {{ section.settings.newsletter_form_heading | escape }}
    </h1>
    {% if section.settings.newsletter_form_subheading != blank %}
      <div class="password__form-subheading" style="max-width: 400px"><p>{{ section.settings.newsletter_form_subheading }}</p></div>
    {% endif %}
  <div class="klaviyo-signup" style="margin: 0 auto;">
<div class="klaviyo-form-LPS6EQ"></div>
</div>
</div>
</div>
{% schema %}
  {
    "name": {
      "en": "About Subscription"
    },
    "settings": [
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": {
          "en": "Section Heading"
        },
        "default": {
          "en": "Free Money For Our Hunnies 💸"
        }
      },
      {
        "type": "text",
        "id": "newsletter_form_subheading",
        "label": {
          "en": "Section subeading"
        },
        "default": {
          "en": "$1000 cash to help you do more of what you love. Apply in less time than it takes to shave your legs."
        }
      },
      {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
      }
    ]
  }
{% endschema %}
