<div class=" text-center">
<h2 class="section-header text-orange">{{ section.settings.section_title }}</h2>
<p class="text-orange">{{ section.settings.subtitle }}</p>
</div>
  <div class="row d-flex align-items-center" style='padding: 1em 0;'>
{% for block in section.blocks %}
  <div class="d-flex flex-column align-items-center justify-content-between col-6 col-sm-4 col-md-3" style='padding: 2em 0;'>
    <a href="{{block.settings.link_url}}"><img class="about-image" src="{{ block.settings.image | img_url: '400x' }}"/></a>
    </div>
{% endfor %}
  </div>

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": {
      "en": "Campaign Partners Content"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "en": "Section Heading"
        },
        "default": {
          "en": "Our Partners"
        }
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": {
          "en": "Section subeading"
        },
        "default": {
          "en": "The companies and communities making Time Well Spent happen."
        }
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "About block",
        "settings": [
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
