<div style="background-color: {{ section.settings.section_bg }}" class="background-box">

<div class="prefooter-box">
<div class="row contained">
<div class='col-md-12'>
<h4 class="text-center" style="color: {{section.settings.copy_color}}; font-weight: 500;">{{section.settings.first_section_header}}<span style="background-image: url('{{ delivery-truck.png | asset_url }}')"></span></h4>
</div>
</div>
</div>
</div>
{% schema %}
{
    "name": "Prefooter Promo",
 "settings": [
    {
        "type": "text",
        "label": " Section Header",
        "id": "first_section_header",
        "default": "Every pack of 3 teas comes with free shipping"
    },
    {
        "type": "color",
        "label": " Section bg",
        "id": "section_bg"
    },
    {
        "type": "color",
        "label": " Section copy color",
        "id": "copy_color"
    }
    ]
}
{% endschema %}
