{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
<div class="section-inner d-flex justify-content-center has-bottom-curve">
  <div class="row contained">
    <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
      <h2>{{ section.settings.title }}</h2>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{ section.settings.text }}</p>
    </div>
  </div>
  {% assign bg_color = "bg-yellow" %}
  {% include "curved-svg" %}
</div>
{% schema %}
{
  "name": {
    "en": "Homepage Announcement"
  },
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Section Title",
    "default": "Time spent well."
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "text",
    "default": "<p>For us it means doing what you love - big or small. In our case, it's about helping people - especially women - find what it is they love, and go for it.</p>"
    }
  ],
    "presets": [
    {
    "name": "Homepage Announcement",
    "category": "Template Content"
    }
  ]
}
{% endschema %}
