
<div class="section-inner">
  {% capture layout %}
      <div class="col-6 d-flex align-items-center text-center">
          <h2>{{ section.settings.text_1 }}</h2>
      </div>
  {% endcapture %}
  <div class="row contained">
      {% if section.settings.layout == 'left' %}
          {{ layout }}
      {% endif %}
      <div class="col-6 d-flex align-items-center {% if section.settings.layout == 'left' %}text-left{% else %}text-right{% endif %}">
          <p>{{ section.settings.text_2 }}</p>
      </div>
      {% if section.settings.layout == 'right' %}
          {{ layout }}
      {% endif %}
  </div>
  
</div>

{% schema %}
{
    "name": "Home Text box",
    "settings": [
    {
    "type": "text",
    "id": "text_1",
    "label": "Large Text",
    "default": "This is large text as a callout"
    },
    {
    "type": "text",
    "id": "text_2",
    "label": "Small text",
    "default": "Announce something here"
    },
    {
    "type": "select",
    "id": "layout",
    "label": "Left-Right Layout",
    "options": [
        {
            "value": "left",
            "label": "left"
        },
        {
            "value": "right",
            "label": "right"
        }
    ],
    "default": "left"
    }
    ],
        "presets": [
        {
        "name": "Text Box",
        "category": "Text Content"
        }
        ]
    }
{% endschema %}
