 {% comment %} <div id="evm-instagram-feed"></div><script src="https://expertvillagemedia.com/instagramfeed/embed.js" data-shop-id="pangea-dev.myshopify.com"></script> {% endcomment %}

 <div class="instafeed-copy text-center">
   <div class="content-copy">
     <h3 class="">{{section.settings.first_section_header}}</h3>
     {{section.settings.first_section_copy}}
  </div>
 </div>
<div id="instafeed" class="row"></div>
{% raw %}
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        template: '<div class="col-4 col-md-2 instagram-image"><img src="{{image}}" /><a href="{{link}}" target="_blank" class="instagram-feed-link"><div class="instagram-overlay-icon"><img src="https://cdn.shopify.com/s/files/1/0013/5531/7307/files/instagram-logo.png?7050140443920899339"></div></a></div>',
        userId: '5753363998',
        accessToken: '5753363998.b811630.b5667cd5841f4d3d915a593a73bdd128',
        resolution: 'standard_resolution',
        limit: 6,
        links: true
    });
    userFeed.run();
</script>
{% endraw %}

<!-- to use, set the userid and access token for your instagram account -->

{% schema %}
{
  "name": "Bon Temps Instagram",
  "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Section Background"
      },
      {
        "type": "text",
        "label": "First Section Header",
        "id": "first_section_header",
        "default": "#timewellspent"
      },
      {
        "type": "richtext",
        "label": "First Section Copy",
        "id": "first_section_copy",
        "default": "<p>Discover those that have mastered the art @bontemps</p>"
      }
  ],
  "presets": [
    {
      "name": "Instagram Feed",
      "category": "Features"
    }
  ]
}
{% endschema %}
