<div class="section-inner no-pad" style="padding-top: 0;">
  <div class="row-80 " style="height: 2px; background-color:{{section.settings.bar_color}}; margin: 0 auto; width: {{section.settings.width}}%"></div>
</div>

{% schema %}
  {
    "name": {
      "en": "Section Break"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "color",
        "id": "bar_color",
        "label": "Bar color"
      },
      {
        "type":      "range",
        "id":        "width",
        "min":       1,
        "max":        100,
        "step":       1,
        "unit":       "%",
        "label":     "Width",
        "default":   80
      }
    ],
    "presets": [
    {
      "name": "Section Break Bar",
      "category": "Misc"
    }
    ]
  }
{% endschema %}
