{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
<div class="section-inner has-bottom-curve small-show bg-pink">
  <div class="row">
    <div class="col-12 text-center small-show">
      <img src="{{ section.settings.image | img_url: '800x800' }}" style="width: 100%; max-width: 350px;">
    </div>
  </div>
  {% assign bg_color = "bg-white" %}
    {% comment %}{% include "curved-svg" %}{% endcomment %}
</div>
<div class="section-inner has-bottom-curve flow-info-2-text">
  <div class="row">
  <div class="col-sm-6 d-flex flex-column justify-content-center">
    <h2 class="">{{ section.settings.text }}</h2>
    <p class="">{{ section.settings.text_lower }}</p>
  </div>
    <div class="col-sm-6 text-center small-hide">
      <img src="{{ section.settings.image | img_url: '800x800' }}" style="width: 100%; max-width: 350px;">
    </div>
  </div>
  {% assign bg_color = "bg-yellow" %}
    {% comment %}{% include "curved-svg" %}{% endcomment %}
</div>

{% schema %}
{
  "name": {
    "en": "Subscription Flow Info 2"
  },
  "settings": [
    {
    "type": "richtext",
    "id": "text",
    "label": "text"
    },
    {
    "type": "richtext",
    "id": "text_lower",
    "label": "text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Info 2",
    "category": "Custom"
    }
  ]
}
{% endschema %}
