{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
<div class="section-inner no-pad-bottom">
  <div class="row contained">
  <div class="col-12 row-80" style="padding: 0 4em;">
    <h2 class="text-center" style="max-width: 550px; margin: 0 auto;">{{ section.settings.text }}</h2>
  </div>
  <div class="row" style="height: 40px;"></div>
</div>
</div>
{% schema %}
{
  "name": {
    "en": "Subscription Flow Info"
  },
  "settings": [
    {
    "type": "richtext",
    "id": "text",
    "label": "text",
    "default": "<p>Unlike popular tea brands, the Bon Temps organic tea collection is truly pesticide-free from leaf to sachet, for inside-out wellness.</p>"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Info",
    "category": "Custom"
    }
  ]
}
{% endschema %}
