{%- comment -%}
 this is a template for the section and schema. update functions here
{%- endcomment -%}
<div class="section-inner d-flex justify-content-center">
  <div class="row ">
    <div class="d-flex flex-column align-items-center justify-content-center text-center">
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.text }}
        <a id="subscription_start" class="btn" href="#">
        <span>{{ section.settings.cta_text }}</span>
        </a>
    </div>
  </div>
</div>
<div class="takeover">
    <a style="float: right; padding: 2em;" href="#" id="takeover_closer">X close</a>
    <div style="clear: both;" class="row d-flex">
      <div class="col-12">
        <h2>All the Subsciption Content.</h2>
      </div>
    </div>
</div>
{{'subscription-flow-script' | asset_url }}
{% schema %}
{
  "name": {
    "en": "Subscription Flow CTA"
  },
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Section Title",
    "default": "Give $20 Get $20"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "text",
    "default": "<p>Let's get started!</p>"
    },
    {
    "type": "text",
    "id": "cta_text",
    "label": "Button Text",
    "default": "Send Invite"
    }
  ],
    "presets": [
    {
    "name": "Subscription Flow Start",
    "category": "Custom"
    }
  ]
}
{% endschema %}
