<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'announcement-bar' %}
{% section 'header-referrals'%}
<div class="contained" style="margin: 2em auto;">
  <div class="">
    {{ page.content }}
  </div>
</div>
<style>
body{
  margin: auto;
}
</style>
<script type="text/javascript">
$( document ).ready(function(){
  $("body[data-fbuy-state-statuses]").css( "margin", "auto" ).delay(2000);

})
</script>