{% layout 'subscription-flow' %}
{% comment %} <div class="top-nav-box">
  <header role="banner" class="header-menus {% if section.settings.header-slider %}has-slider{% endif %}">
  {% include "header-nav" %}
  </header>
</div> {% endcomment %}
{% section 'sub-flow-starter' %}
{% section 'sub-flow-info' %}
{% section 'sub-flow-info-2' %}
{% section 'sub-flow-info-3' %}
{% comment %} {% section 'about-subscription' %} {% endcomment %}