<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'announcement-bar' %}
{% section 'header-referrals'%}
<div class="contained">
  <div class="page-width container d-flex flex-column align-items-center">
    {{ page.content }}
  </div>
</div>