<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% comment %} {% section 'announcement-bar' %} {% endcomment %}
{% section 'header-referrals'%}
<div class="frame-container" style="margin: 2em auto;">
  <div class="">
    {{ page.content }}
    <div class="friendbuy-d2T-qhT"></div>
  </div>
</div>

<style>
.frame-container{
  margin: auto;
}
@media screen and (max-width: 794px ){
  .frame-container{
    width: 320px;
  }
  }
</style>
<script type="text/javascript">
$( document ).ready(function(){
  $("body[data-fbuy-state-statuses]").css( "margin", "0 auto" );
});

</script>

<script>
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['widget', "d2T-qhT"]);
</script>