<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% comment %} {% section 'announcement-bar' %} {% endcomment %}
{% section 'header-campaign'%}
<div class="contained">
  {% section 'campaign-intro' %}

  {% comment %} {% section 'campaign-content' %} {% endcomment %}
  {% comment %} {% section 'campaign-partners' %} {% endcomment %}
</div>

<div class="contained">
{% section 'about-content' %}
</div>
{% section 'about-subscription' %}