<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% comment %} {% section 'announcement-bar' %} {% endcomment %}
{% section 'header-pesticides'%}
<div class="contained">
{% section 'pesticides-content' %}
</div>
{% comment %} {% section 'about-subscription' %} {% endcomment %}