<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'header-campaign'%}
<div class="contained">
  {% section 'campaign-intro' %}
  {% section 'campaign-content' %}
  {% section 'campaign-partners' %}
</div>
{% section 'about-subscription' %}