<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'announcement-bar' %}
{% section 'header-pesticides'%}
<div class="contained">
{% section 'pesticides-content' %}
</div>
{% section 'about-subscription' %}