<!-- TODO config this page and schema -->
{% section 'header-about'%}
<div class="contained">
  {% if page.content.size > 0 %}
    <div class="rte">
    {% section 'about-content' %}
    </div>
  {% endif %}
</div>
