<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% comment %} {% section 'announcement-bar' %} {% endcomment %}
{% section 'header-about'%}
<div class="contained">
  {% section 'new-about-content' %}
</div>
{% section 'about-subscription' %}