<!-- TODO config this page and schema -->
{% layout 'theme' %}
<div>Threesome header</div>
<div class="row">
    <div class="col-4">
    <h3 id="selected_product_1"></div>
    </div>
    <div class="col-4">
    <h3 id="selected_product_2"></div>
    </div>
    <div class="col-4">
    <h3 id="selected_product_3"></div>
    </div>
</div>
<div class="row">
    {% for product in collection.all.products %}
    <div class="col-4">{{product.title}}-{{product.id}}</div>
    {% endfor %}
</div>