<!-- TODO config this page and schema -->
{% section 'header-about'%}
<div class="contained">
  <div class="section-header text-center">
    <h1>{{ page.title }}</h1>
  </div>
  {% if page.content.size > 0 %}
    <div class="rte">
      {{ page.content }}
    </div>
  {% endif %}
</div>
