{% layout 'subscription-flow' %}
<div class="top-nav-box">
  {% comment %} {% include "announcement-bar" %} {% endcomment %}
  <header role="banner" class="header-menus {% if section.settings.header-slider %}has-slider{% endif %}">
  {% include "header-nav" %}
  </header>
</div>
{% section 'sub-flow-starter' %}
{% section 'sub-flow-info' %}
{% section 'about-subscription' %}