<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'announcement-bar' %}
{% section 'header-referrals'%}
<div class="contained">
  <div class="">
    {{ page.content }}
  </div>
</div>